<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1> My Todo List </h1>

  <button class="btn btn-success" [routerLink]="['/tasks/add']">New</button>

  <div *ngIf="tasks && tasks.length > 0; else noTasks">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Task</th>
        <th>Note</th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngFor="let task of tasks; index as i;">
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.note }}</td>
        <td>
          <button [routerLink]="['/tasks/', i]"><i class="far fa-eye"></i></button>
          <button (click)="delete(i)"><i class="far fa-trash-alt"></i></button>
          <button [routerLink]="['/tasks/', i, 'edit']"><i class="far fa-edit"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="condition as value">{{value}}</div>
  <ng-template #noTasks>
    <h2>Congratulations, you finished your list ! </h2>
  </ng-template>
</div>
